.glider{
    @include flex();

    &-prev{
        @include button($bg:#1859a3,$border-radius:50%,$padding:10px);
        @include flex($flex-direction:column,$justify-content:center,$align-items:center);
        position: absolute;
        left: 0;
        border-radius:0px;
        height: 5px;
        width: 50%;
    }

   

    &-prev--detail{
        @include button($bg:$color-gray-medium,$border-radius:50%,$padding:10px);
        @include flex($flex-direction:column,$justify-content:center,$align-items:center);
        position: absolute;
        left: 0;
        border-radius:0px;
        height: 5px;
        width: 50%;
        padding: 2px;
        
        svg{
            fill:white;
            height: 1.5rem;
        }
    }

    &__bar{
        position: relative;
        bottom: -20px;
        width: 100%;
    }

    &-next{
        @include button($bg:#1859a3,$border-radius:50%,$padding:10px);
        @include flex($flex-direction:column,$justify-content:center,$align-items:center);
        position: absolute;
        right: 0;
        border-radius:0px;
        height: 5px;
        width: 50%;

        svg{
            fill: white;
            height: 1.5rem;
        }
    }

    &-next--detail{
        @include button($bg:$color-gray-medium,$border-radius:50%,$padding:10px);
        @include flex($flex-direction:column,$justify-content:center,$align-items:center);
        position: absolute;
        right: 0;
        border-radius:0px;
        height: 5px;
        width: 50%;
        padding: 2px;

        
        svg{
            fill: white;
            height: 1.5rem;
        }
    }
    &-button__gray{
        @include button($bg:$color-gray-medium,$border-radius:50%,$padding:10px);
        @include flex($flex-direction:column,$justify-content:center,$align-items:center);
        border-radius: 0px;
        height: 5px;
        padding: 2px;
        
        svg{
            fill: white;
            height: 1.5rem;
        }
    }


    @include mobile(){
        max-width: 370px;
        max-height: 370px;
    }

    @include tablet(){
        max-width:600px;
        max-height: 600px;
    }
}