.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color:rgba(100,100,100,0.4);
    z-index: 1;
    transform: scale(0);

    &--open{
        transform: scale(1);
    }

    &--two{
        transform: scale(1);
    }
}