$color-success:#3ba132;
$color-white:white;


$color-text-black:#191919;
$color-gray-light:#f5f5f5;
$color-gray-medium-medium:#757575;
$color-gray-light-medium:#dfdfdf;
$color-gray-dark-light:#484848;
$color-gray-medium:#888888;
$color-gray-medium-dark:#696969;
$color-gray-dark:#111111;


$buttons-bg-color:#f5f5f5;
$buttons-text-color:#191919;


$border-color:#dfdfdf;


$color-orange:#cb5108;
$article-name-size:15px;
$article-title-color:#191919;
$article-price-color:#191919;
$article-price-size:18px;


$font-size-smaller:14px;
$font-size-small:15px;
$font-size-bigger:18px;


$footer-button-bg:black;
$footer-text-color:#888888;